<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><b>Shopping cart</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

           <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
         <li class="nav-item active" style="margin-right:40px">
             <a class="nav-link" href="#"><b>Logout</b> <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>



    <div class="container" style="margin-top:100px">
        <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <a href="http://localhost:5000/user/product/addaddress"><button class="btn btn-primary">Add Address</button></a>
                </div>
            </div>
        <div class="row">
            <div class="col-md-3"></div>
             <div class="col-md-6">
                 <form action="http://localhost:5000/user/product/finalplaceorder" method="post">
                      {% for adr in listofadrs %}
                     <div class="form-group" style="bor">
                      <input  type="radio" name="address" value="{{adr['adrid']}}">
                         <b>{{adr['name']}}</b>&nbsp;&nbsp;
                             <br>{{adr['address']}}&nbsp;&nbsp;
                              <br>{{adr['locality']}}&nbsp;&nbsp;
                             <br>{{adr['city']}}-{{adr['pincode']}}&nbsp;&nbsp;
                             <br>{{adr['state']}}&nbsp;&nbsp;
                             <br>{{adr['mobileno']}}&nbsp;&nbsp;

                      <br>

                      </div>
                      {% endfor %}
                     <button type="submit" class="btn btn-primary">Place Order</button>
                 </form>
             <div class="col-md-3"></div>

        </div>
  </div>
    </div>>
</body>
</html>